/* Font, font color, background color and sticky footer */
body {
  font-family: 'Arvo', serif;
  font-weight: normal;
  font-style: normal;
  height: 100%;
  margin:0;
  padding:0;
  color: #2d9bad;
  background-color: #000000;
  height:100vh;
  display: flex;
  flex-direction:column;
}

/* Vertically align a div */

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh;
  display: flex;
  align-items: center;
}

/* Sticky footer */

.content{
  flex:1 0 auto;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
}

/* Navbar logo */

.navbar-brand img {
    position: relative;
    width: 170px;
    background-size: contain;
}

/* Navbar font size*/

.nav-link {
  font-size: 24px;
}

/* Navbar link colors and hover */

#navbar a {
  color: #2d9bad;
}

#navbar a:hover {
  color: #000000;
}

/* All other link hovers */

a {
  color: #2d9bad;
}

a:hover {
  color: #2d9bad;
}

/* Font-awesome icon size */

.fa {
  position: relative;
  font-size: 25px;
  background-size: contain;
}

.fa-align-justify {
  color: #2d9bad;
}

/* Index image */

#header img {
  width: 500px;
  height: 450px;
  background: cover;
}

/* Centering div inside a div */

.parent {
  position: relative;
}
.parent1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.child {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

/* Border radius on inputs */

.form-control {
  border-radius: 10px;
}

/* Centering buttons*/

.wrapper {
  text-align: center;
}

/* About page font hover */

#about .card:hover {
  color: #000000;
}

#developers .card:hover {
  color: #000000;
}

/* Card breakpoints for index page */

@media (min-width: 0) {
#shop_index .card-deck .card {
    flex: 0 0 calc(50% - 30px);
  }
}

@media (min-width: 576px) {
#shop_index  .card-deck .card {
    flex: 0 0 calc(50% - 30px);
  }
}

@media (min-width: 768px) {
#shop_index  .card-deck .card {
    flex: 0 0 calc(33.3333333333% - 30px);
  }
}

@media (min-width: 992px) {
#shop_index  .card-deck .card {
    flex: 0 0 calc(33.3333333333% - 30px);
  }
}

@media (min-width: 1200px) {
#shop_index  .card-deck .card {
    flex: 0 0 calc(16.6666666667% - 30px);
  }
}

/* Card breakpoints for shop page */

@media (min-width: 0) {
#shop .card-deck .card {
    flex: 0 0 calc(50% - 30px);
  }
}

@media (min-width: 576px) {
#shop   .card-deck .card {
    flex: 0 0 calc(50% - 30px);
  }
}

@media (min-width: 768px) {
#shop   .card-deck .card {
    flex: 0 0 calc(25% - 30px);
  }
}

@media (min-width: 992px) {
#shop   .card-deck .card {
    flex: 0 0 calc(25% - 30px);
  }
}

@media (min-width: 1200px) {
#shop   .card-deck .card {
    flex: 0 0 calc(25% - 30px);
  }
}

/* Card breakpoints for sale page */

@media (min-width: 0) {
#sale  .card-deck .card {
    flex: 0 0 calc(50% - 30px);
  }
}
@media (min-width: 576px) {
#sale  .card-deck .card {
    flex: 0 0 calc(50% - 30px);
  }
}
@media (min-width: 768px) {
#sale  .card-deck .card {
    flex: 0 0 calc(33.3333333333% - 30px);
  }
}
@media (min-width: 992px) {
#sale  .card-deck .card {
    flex: 0 0 calc(16.6666666667% - 30px);
  }
}
@media (min-width: 1200px) {
#sale  .card-deck .card {
    flex: 0 0 calc(16.6666666667% - 30px);
  }
}

/* Card breakpoints for search page */

@media (min-width: 0) {
#search .card-deck .card {
    flex: 0 0 calc(50% - 30px);
  }
}
@media (min-width: 576px) {
#search .card-deck .card {
    flex: 0 0 calc(50% - 30px);
  }
}
@media (min-width: 768px) {
#search .card-deck .card {
    flex: 0 0 calc(50% - 30px);
  }
}
@media (min-width: 992px) {
#search .card-deck .card {
    flex: 0 0 calc(25% - 30px);
  }
}
@media (min-width: 1200px) {
#search .card-deck .card {
    flex: 0 0 calc(25% - 30px);
  }
}

/* Card breakpoints for about page */

@media (min-width: 0) {
#about .card-deck .card {
    flex: 0 0 calc(50% - 30px);
  }
}
@media (min-width: 576px) {
#about .card-deck .card {
    flex: 0 0 calc(50% - 30px);
  }
}
@media (min-width: 768px) {
#about .card-deck .card {
    flex: 0 0 calc(50% - 30px);
  }
}
@media (min-width: 992px) {
#about .card-deck .card {
    flex: 0 0 calc(25% - 30px);
  }
}
@media (min-width: 1200px) {
#about .card-deck .card {
    flex: 0 0 calc(25% - 30px);
  }
}
